@import url(head.css);

h1{
    margin: auto;
    text-align: center;
    color: red;
    height: 70px;
}
h2{
    margin: 0;
}
section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 5em;
    gap: 1em;
    & article{
    display: inline-block;
    width:225px;
    }
}

.top {
    height: 200px;
    width: 200px;
    background-color: brown;
}

img {
    height: 200px;
    width: 200px;
}

.bottom {
    height: 100px;
    width: 200px;
    background-color: burlywood;
    overflow: auto;
    & a{
        font-weight: normal;
        text-decoration: none;
        font-size: .7em;
        color: black;
        margin: .3em;
    }
}

input{
    display: none;
}

svg{
    height: 35px;
    width: 35px;
}

svg:hover{
    height: 32px;
    width:32px;
}
